#игнорировать файлы, находящиеся в подкаталоге tmp
tmp/

#игнорировать файлы, заканчивающиеся суффиксом _old
*_old

#игнорировать файлы, заканчивающиеся суффиксом _backup
*_backup

#игнорировать файлы Thumbs.db
Thumbs.db

#игнорировать файлы .DS_Store  
.DS_Store